:root {
  --title: "Poppins";
  --sub-title: "Montserrat";
  --text: "Open Sans";

  --green: #235d23;
  --dark-green: #0d300d;
  --bg-green: #32382c;
  --white: #f8f8f8;
  --black: #292c25;
  --black-rgb: 41, 44, 37;
  --white-rgb: 255, 255, 255;
}

* {
  font-family: var(--text), Verdana, Geneva, Tahoma, sans-serif;
  color: var(--black);
}

body {
  background-color: var(--bg-green);
  min-height: 100svh;
  min-height: 100vh;
}

ul,
li {
  list-style: none;
}
